/* Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #ddd;
}
.button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 360px;
	height: 92px;
	background: #39A388;
	border-radius: 55px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.51, -0.49, 0.51, 1.57);
	overflow: hidden;
}
.button.active {
	width: 500px;
	height: 20px;
	cursor: progress;
}
.button::before {
	width: 100%;
	height: 100%;
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	background: #1C7947;
	border-radius: 55px;
}
.button.active::before {
	animation: layer 6s ease forwards;
}
@keyframes layer {
	100% {
		left: 0%;
	}
}
.button .content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease;
	transition-delay: 0.2s;
}
.button.active .content {
	transform: translateY(60px);
}
.content i,
.content .button-text {
	color: #fff;
	font-size: 40px;
	font-weight: 500;
}
.content .button-text {
	font-size: 28px;
	margin-left: 8px;
}